<!DOCTYPE html>
<html ng-app="yapp" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/app.css" rel="stylesheet" />
    <title>Employee List</title>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../controllers/employee.js"></script>
    <script src="../app.js"></script>

</head>
<body>
    <div ng-controller="employeeList">

        Rows to Display : <input type="number" name="rowLimit" step="1" min="0" max="5" ng-model=rowLimit />
        Sort Order :<select ng-model=sortOrder >
        <option value="name">Name ASC</option>
        <option value="dob">Date of Birth ASC</option>
        <option value="gender">Gender ASC</option>
        <option value="-salary">Salary Desc</option>
    </select>
        <br/><br/>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Salary(number)</th>
                <th>Salary(currency)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy : sortOrder">
                <td>{{employee.name | uppercase}}</td>
                <td>{{employee.dob | date : "dd/MM/yyyy"}}</td>
                <td>{{employee.gender | lowercase}}</td>
                <td>{{employee.salary | number : 2}}</td>
                <td>{{employee.salary | currency : $ : 1}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>